In [10]:
#Task 5

dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [11]:
dict1['april_batch']['student']['name']

'Mike'

In [12]:
dict1['april_batch']['student']['marks']['python']

80

In [13]:
dict1['april_batch']['student']['name'] = 'Bhavana'
dict1

{'april_batch': {'student': {'name': 'Bhavana',
   'marks': {'python': 80, 'maths': 70}}}}

In [14]:
dict1['april_batch']['student']['marks']['ML'] = 80
dict1

{'april_batch': {'student': {'name': 'Bhavana',
   'marks': {'python': 80, 'maths': 70, 'ML': 80}}}}

In [15]:
dict1['april_batch']['student']['marks']['DL'] = 80
dict1

{'april_batch': {'student': {'name': 'Bhavana',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}