In [34]:
#Task 12

'''Go through the below in-built functions with 2 examples each.
reduce()
zip()
enumerate()
'''


#reduce function

from functools import reduce

mylist=[0,1,2,3,4,5]

evens=list(filter(lambda i:i%2==0, mylist))
print(evens)
doubles=list(map(lambda i:i**2, evens))
print(doubles)
sum=reduce(lambda x,y:x+y,doubles)
print(sum)

[0, 2, 4]
[0, 4, 16]
20

In [37]:
a=[1,2,3,4]
mul=reduce(lambda x,y:x*y,a)
print(mul)

24

In [8]:
#zip function

fruit =['apple','banana','kiwi',]
colour=['red','yellow','green']
zipped=list(zip(fruit,colour))
print(zipped)

[('apple', 'red'), ('banana', 'yellow'), ('kiwi', 'green')]

In [38]:
for (a,b) in zip(fruit,colour):
    print(a,b)

apple red
banana yellow
kiwi green

In [42]:
state=('Karnataka','Tamilnadu','Telangana','Kerala')
capital=('Bangalore','Chennai','Hyderabad','Thiruvanantapuram')
south=dict(zip(state,capital))
print(south)

{'Karnataka': 'Bangalore', 'Tamilnadu': 'Chennai', 'Telangana': 'Hyderabad', 'Kerala': 'Thiruvanantapuram'}

In [32]:
#enumerate function

a=['x','y','z']

for i in enumerate(a):
    print(i)

a=list(enumerate(a))
print(a)

(0, 'x')
(1, 'y')
(2, 'z')
[(0, 'x'), (1, 'y'), (2, 'z')]

In [33]:
num=[1,2,3,4,5,6]

for i, item in enumerate(num,1):
        if(item%2==0):
         print(i,item)
        
count=list(enumerate(num,1))
print(count)

2 2
4 4
6 6
[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6)]